-- Створення бази даних
CREATE DATABASE SHOP;
GO

-- Використання бази даних
USE SHOP;
GO

-- Створення таблиці SALES
CREATE TABLE SALES (
    SALES_ORDER_ID BIGINT,  -- Унікальний ідентифікатор замовлення
    REVISION_NUMBER TINYINT,  -- Інкремент для відстеження змін за замовленням
    ORDER_DATE DATETIME,  -- Дата і час створення замовлення
    DUE_DATE DATE,  -- Дата доставки замовлення
    SHIP_DATE DATE,  -- Фактична дата доставки замовлення
    ONLINE_ORDER_FLAG BIT,  -- 0 = замовлення менеджером, 1 = онлайн
    CUSTOMER_ID INT,  -- Унікальний ідентифікатор клієнта
    SALES_PERSON_ID INT,  -- Унікальний ідентифікатор співробітника
    TERRITORY_ID INT,  -- Унікальний ідентифікатор території
    SUB_TOTAL DECIMAL(18, 4),  -- Загальна сума замовлення
    TAX_AMT DECIMAL(10, 4),  -- Загальна сума податків
    FREIGHT DECIMAL(10, 4),  -- Сума доставки
    MODIFIED_DATE DATETIME  -- Дата і час останньої зміни рядка
);
GO

-- Вставка даних
GO

-- Вибірка даних
SELECT * FROM SALES;
GO

-- Видалення таблиці
DROP TABLE SALES;
GO

-- Видалення бази даних
USE master;
GO
DROP DATABASE SHOP;
GO

